

/* Reset --------------------------------------------------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
	 v2.0 | 20110126
	 License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* /Reset -------------------------------------------------------------------------------------- */


body {
  background-color:#edeff2;
  font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align:left;
    margin-top:20px;
    margin-bottom:20px; 
}

header h1{
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 2.5em;
	 font-weight: bold
}

#wrapper {
	margin: auto;
    width: 90%;
	padding-bottom: 75px;	
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main    {
    margin: auto;
    width: 90%;
	padding-top: 50px;
	padding-bottom: 75px;
}

main p {
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 10px;
}

main h1,
main h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.7em;
  padding-bottom: 10px;
}

main h3 {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 10px;
}
main strong {
  font-weight: bold;
}

main figure {
  margin-bottom: 1em;
}

main section {
  margin-bottom: 2em;
}

main section p {
  margin-bottom: 1em;
}

main form h2 {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  margin-bottom: 0;
}

main form label {
  display: block;
}

main form input,
main form textarea {
  display: block;
  width: 100%;
  max-width: 35em;
  padding: .5em;
  box-shadow: none;
  border: 1px solid #222222;
  border-color: rgba(96, 94, 94, 0.49);
}

main form input:hover,
main form textarea:hover {
  border: 1px solid #467e9d;
}

main form input:focus,
main form textarea:focus {
  outline: 1px solid #467e9d;
  border: none;
  padding: .5em;
  outline-offset: 1px;
}

main form input.error,
main form textarea.error {
  border: 2px solid #e14f49;
}

main form input.submit {
  display: inline-block;
  margin-top: 1em;
  background: #e14f49;
  color: #ffffff;
  padding: 1em 2em;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

main form div {
  position: relative;
  margin-top: 1em;
  max-width: 25em;
}

main form p.error {
  position: absolute;
  text-align: right;
  right: 0;
  font-weight: normal;
  font-size: .8em;
  transition: all 0.1s ease-in;
  transform-origin: top right;
  transform: scale(0);
}

main form p.error.active {
  transform: scale(1);
  position: relative;
}

main form p.error span {
  position: absolute;
  display: inline-block;
  background: #e14f49;
  color: #ffffff;
  padding: .3em .5em;
  margin-top: .7em;
  border-radius: .25em;
  position: relative;
  z-index: 5;
}

main form p.error span:after {
  position: absolute;
  content: "";
  width: 1em;
  height: 1em;
  right: 1em;
  top: -0.5em;
  z-index: -1;
  transform: rotate(45deg);
  background: inherit;
}

main form textarea {
  width: 100%;
  background: #ffffff;
}

main form button {
  display: block;
  margin-top: 1em;
  background: #e14f49;
  color: #ffffff;
  padding: 1em 2em;
  box-shadow: none;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

/*image*/
img {
	max-width:100%;
	}
	
/* /image* -------------------------------------------------------------------------------------- */
/*footer*/

footer {
   bottom:0;
   margin: auto;
   height:120px;
   background: #222222;
   color: #ffffff;
   padding-top: 20px;
}


footer section {
  margin-bottom: 1em;
}

footer h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding-bottom: 5px;
}
  
footer li {
  display: inline-block;
  padding-right: 1em;
  font-size: 1em;
}

footer li + li {
  padding-right: 1em;
}

footer a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.1s color ease-in;
}

footer a:hover {
  color: #4caf50;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
 padding:25px 10px;
}

/*---------------------------Slideshow----------------*/


/* Classes ------------------------------------------------------------------------------------- */

.box {
	background: white;
	border-radius: 7px;
	color: #444;
	padding: 1em 2.25em;
}

/* /Classes ------------------------------------------------------------------------------------ */

/* Basic Typography ---------------------------------------------------------------------------- */

.content p {
	line-height: 1.5;
	margin: 1.125em 0;
}

.content h3 {
	font-size: 1.5em;
	line-height: 1.125;
	margin: 1.125em 0 0.5em 0;
}

.content h2 {
	font-size: 2.25em;
	line-height: 1.125;
	margin: 1.125em 0 0.5em 0;
}

.content h1 {
	font-size: 3.375em;
	line-height: 1.125;
	margin: 1.125em 0 0.5em 0;
}

.content ul {
	list-style-type: circle;
	margin: 1.125em;
}

.content ol {
	list-style-type: decimal;
	margin: 1.125em;
}

.content li {
	line-height: 1.5;
	margin: 0.5em;
}

.content strong {
	font-weight: bold;
}

.content em {
	font-style: italic;
}

/* /Basic Typography --------------------------------------------------------------------------- */

/* Sources ------------------------------------------------------------------------------------- */

.sources {
	color: #a0d468;;
	margin-top: 2.25em;
}

.sources h3 {
	margin-bottom: 1.125em;
}

.sources a {
	color: #a0d468;;
}

.sources a:hover {
	color: #7d646c;
}

.source-list {
	line-height: 1.5;
}

/* /Sources ------------------------------------------------------------------------------------ */

/* Cycle 2 ------------------------------------------------------------------------------------- */

.jsOff .cycle-slideshow {
	display: none;
}

.cycle-slideshow {
	max-width: 800px;
}

.cycle-overlay {
	background: black;
	background: rgba(0,0,0,0.6);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 101;
}

.cycle-prev,
.cycle-next {
	cursor: pointer;
	font-size: 6em;
	margin-top: -0.6em;
	opacity: 0.4;
	position: absolute;
	text-shadow: 0 0 4px rgba(0,0,0,0.8);
	top: 50%;
	transition: opacity 0.2s;
	z-index: 102;
}

.cycle-prev:hover,
.cycle-next:hover {
	opacity: 0.9;
}

.cycle-prev {
	left: 0.1em;
}

.cycle-prev:before {
	content: '\276E';
}

.cycle-next {
	right: 0.1em;
}

.cycle-next:before {
	content: '\276F';
}

.headline {
	color: white;
	padding: 1em;
}

.headline h2 {
	color: white;
	font-size: 2em;
	line-height: 1.125;  
}

.headline p {
	font-style: italic;
	line-height: 1.5;
}

.cycle-pager { 
	color: black;
	color: rgba(0,0,0,0.5);
	font-size: 1.5em;
	line-height: 1em;
	text-align: center;
	width: 100%;
}

.cycle-pager span {
	cursor: pointer;
	display: inline-block;
	height: 1em;
	width: 0.667em;
}

.cycle-pager span.cycle-pager-active { 
	color: #a0d468;
	color: rgba(160,212,104,0.8)
}

.cycle-pager span:hover {
	color: #a0d468;
	color: rgba(160,212,104,0.4);
}

/* /Cycle 2 ------------------------------------------------------------------------------------ */






